<!DOCTYPE html>
<html lang="en">
<head>
	<title>用户登录</title>
	<link rel="stylesheet" href="./include/css/login.css" type="text/css"/>
	<!-- <link rel="icon" href="./include/images/login-logo.png" type="images/jpeg"/> -->
</head>
<body>
	<div class="max">
		<div class="dldk">
			<div class="box clearfix">
				<div class="box_logo"></div>
					<h4>后台管理系统</h4>
				<form action="./index.php?m=index&a=dologin" method="post" class="form">
					<div class="input">
						<div class="icon">
						</div>
						<div class="input_c">
							<input type="text" name="user" placeholder="后台管理账号" class="input_c_c"/>
						</div>
					</div>
					<div class="input">
						<div class="icon_1">
						</div>
						<div class="input_c">
							<input type="password" name="pwd" placeholder="密码" class="input_c_c"/>
						</div>
					</div>
					<div class="anniu">
						<input type="submit" class="anniu_btn" value="登录"/>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
